.app-modal {
  &__error {
    color: #ff0000;
    margin-top: 1rem;
  }
  &__input {
    > span {
      display: inline-block;
      flex: 0 0 auto;
    }
    > div {
      > input {
        width: 100%;
        border: 1px solid #000;
        padding: 0.125rem 2.25rem 0.125rem 0.25rem;
  
        &:user-invalid {
          outline: 1px solid var(--_color-error);
        }
      }
      &:has(input:required) {
        &::before {
          content: "";
          position: absolute;
          inset: 50% 1rem auto auto;
          display: block;
          translate: 0 -50%;
          height: 0.875rem;
          aspect-ratio: 1/1;
          background-color: var(--_color-error);
          border-radius: 50%;
          transition: all 0.2s ease;
        }
      }
      &:has(input:user-invalid) {
        &::after {
          content: "Error: Enter valid value";
          position: absolute;
          top: calc(100% + 2px);
          display: block;
          translate: 0 0;
          right: 0;
          line-height: 1;
          color: var(--_color-error);
        }
      }
      &:has(input:user-valid) {
        &::before {
          background-color: light-dark(#008000, #fff);
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M21.801 10A10 10 0 1 1 17 3.335'/%3E%3Cpath d='m9 11 3 3L22 4'/%3E%3C/svg%3E");
          mask-repeat: no-repeat;
          mask-position: center;
          mask-size: contain;
        }
        &::after {
          content: none;
        }
      }
      & {
        position: relative;
        flex: 1;
        width: 100%;
      }
    }
    & {
      --_color-error: light-dark(
        #ff0000,
        color-mix(in lch longer hue, #ff0000, #fff)
      );
      position: relative;
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      gap: 0.5rem 1rem;
      align-items: center;

      @media (max-width: 720px) {
        flex-direction: column-reverse;
        span {
          width: 100%;
          text-align: left;
        }
      }
    }
  }
  &__footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    padding: 1rem var(--_padding-h) 1rem;
  }
  &__body {
    flex: 1;
    overflow-y: auto;
    padding: 1rem var(--_padding-h) 1rem;
    min-height: 6.5rem;
  }
  &__header {
    button {
      height: 1.25rem;
      width: 1.25rem;
      border: none;
      padding: 0;
      mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M18 6 6 18'/%3E%3Cpath d='m6 6 12 12'/%3E%3C/svg%3E")
        no-repeat center;
      mask-size: cover;
      background-color: light-dark(#000, #fff);
    }
    h2 {
      font-size: 1.25rem;
      font-weight: 600;
    }
    & {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 1.25rem var(--_padding-h);
      flex: 0 0 auto;
    }
  }

  &__container {
    --_width: min(40rem, 60vw);
    --_padding-h: 2rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 50% auto auto 50%;
    translate: -50% -50%;
    background-color: light-dark(#fff, #000);
    width: var(--_width);
    max-height: 80vh;
  }

  &__wrap {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    max-width: none;
    max-height: none;
    z-index: 1001;
    background-color: transparent;
    color: light-dark(#000, #fff);
    border: none;

    &[open] {
      &::backdrop {
        background-color: rgba(0, 0, 0, 0.15);
      }
    }
  }
  &__control {
    border: none;
    padding: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-color: currentColor;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M15.2 3a2 2 0 0 1 1.4.6l3.8 3.8a2 2 0 0 1 .6 1.4V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2z'/%3E%3Cpath d='M17 21v-7a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1v7'/%3E%3Cpath d='M7 3v4a1 1 0 0 0 1 1h7'/%3E%3C/svg%3E")
      no-repeat center;
    mask-size: cover;
  }
}

html {
  &[data-theme="light"] {
    .app-modal__wrap {
      color-scheme: only light;
    }
  }
  &[data-theme="dark"] {
    .app-modal__wrap {
      color-scheme: only dark;
    }
  }
}
