.app-modal {
  &__input {
    > input {
      flex: 1;
      &:required {
        + span::before {
          content: "";
          position: absolute;
          inset: 50% 1rem auto auto;
          display: block;
          translate: 0 -50%;
          height: 0.875rem;
          aspect-ratio: 1/1;
          background-color: var(--_color-error);
          border-radius: 50%;
          transition: all 0.2s ease;
        }
      }
      &:user-invalid {
        + span::after {
          content: "Error: Enter valid value";
          position: absolute;
          top: 50%;
          display: block;
          translate: 0 -50%;
          right: 2.25rem;
          line-height: 1;
          color: var(--_color-error);
        }
      }
      &:user-valid {
        + span::before {
          background-color: light-dark(#008000, #fff);
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M21.801 10A10 10 0 1 1 17 3.335'/%3E%3Cpath d='m9 11 3 3L22 4'/%3E%3C/svg%3E");
          mask-repeat: no-repeat;
          mask-position: center;
          mask-size: contain;
        }
        &::after {
          content: none;
        }
      }
    }
    > span {
      display: inline-block;
      flex: 0 0 auto;
    }
    & {
      --_color-error: light-dark(
        #ff0000,
        color-mix(in lch longer hue, #ff0000, #fff)
      );
      position: relative;
      display: flex;
      flex-direction: row-reverse;
      gap: 1rem;
      align-items: center;
    }
  }
  &__footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    padding: 1rem var(--_padding-h) 1rem;
  }
  &__body {
    flex: 1;
    overflow-y: auto;
    padding: 1rem var(--_padding-h) 1rem;
  }
  &__header {
    button {
      height: 1.25rem;
      width: 1.25rem;
      border: none;
      padding: 0;
      mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M18 6 6 18'/%3E%3Cpath d='m6 6 12 12'/%3E%3C/svg%3E")
        no-repeat center;
      mask-size: cover;
      background-color: light-dark(#000, #fff);
    }
    h2 {
      font-size: 1.25rem;
      font-weight: 600;
    }
    & {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 1.25rem var(--_padding-h);
      flex: 0 0 auto;
    }
  }

  &__container {
    --_width: min(40rem, 60vw);
    --_padding-h: 2rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 50% auto auto 50%;
    translate: -50% -50%;
    background-color: light-dark(#fff, #000);
    width: var(--_width);
    max-height: 80vh;
  }

  &__wrap {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    max-width: none;
    max-height: none;
    z-index: 1001;
    background-color: transparent;
    color: light-dark(#000, #fff);
    border: none;

    &[open] {
      &::backdrop {
        background-color: rgba(0, 0, 0, 0.15);
      }
    }
  }
}

html {
  &[data-theme="light"] {
    .app-modal__wrap {
      color-scheme: only light;
    }
  }
  &[data-theme="dark"] {
    .app-modal__wrap {
      color-scheme: only dark;
    }
  }
}
